* {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: 400;
    min-height: 0;
    padding: 1px 0px;
    margin: 0;
}

window#waybar {
    background: rgba(20, 20, 25, 0.3);
    border: none;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.95);
}

window#waybar.hidden {
    opacity: 0.5;
}

window#waybar.empty,
window#waybar.empty #window {
    padding: 0;
    border: 0;
}

#workspaces {
	padding: 4px 9px;
	background: none;
	border-radius: 30px;
}

#workspaces button {
    color: rgba(255, 255, 255, 0.5);
    box-shadow: none;
    text-shadow: none;
    padding: 0 4px;
    border-radius: 30px;
    background: none;
    border: none;
}

#workspaces button.active {
    color: rgba(255, 255, 255, 1.0);
    text-shadow: none;
    box-shadow: none;
    background: none;
    border: none;
}

#workspaces button:hover {
    color: rgba(255, 255, 255, 1.0);
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 0 15px;
	margin: 0;
}

#backlight,
#battery,
#clock,
#cpu,
#memory,
#tray,
#pulseaudio {
    margin: 4px 9px;
    background: none;
    border-radius: 30px;
}

#battery.critical:not(.charging) {
    color: rgba(255, 85, 85, 0.95);
    background-color: rgba(255, 85, 85, 0.1);
}